<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot_houseinfo.mapper.RegisterMapper">
    <select id="findUserByNameAndWord" resultType="com.example.springboot_houseinfo.pojo.Register">
        SELECT id,usernames, passwords
        FROM   users
        WHERE usernames = #{usernames}
          and passwords = #{passwords}
    </select>



</mapper>